@model Sketcher.Models.User

@{
    ViewBag.Title = "Registration";
}

<br />
<h2 class="text-center">Авторизация</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal ">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="control-label col-md-12 text-center">Имя</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.UserLogin, new { htmlAttributes = new { @class = "form-control col-md-8 offset-md-3 col-sm-12 col-12" } })
            @Html.ValidationMessageFor(model => model.UserLogin, "", new { @class = "control-label col-md-8 offset-md-3 col-sm-12 col-12 text-danger text-center" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-12 text-center">Пароль</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control col-md-8 offset-md-3 col-sm-12 col-12" } })
            @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "control-label col-md-8 offset-md-3 col-sm-12 col-12 text-danger text-center" })
        </div>
    </div>

    <div class="form-group text-center">
        <div class="">
            <input type="submit" value="Войти" class="btn btn-success" />
        </div>
    </div>

    <div class="form-group text-center">
        <div class="">
            @Html.ActionLink("Назад", "Index", "Home", new { }, new { @class = "btn btn-danger" })
        </div>
    </div>


</div>
}

<div>
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


